# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE
.idea
.vscode