# Dependencies
node_modules
npm-debug.log
_pycache_

# Next.js build output
.next
out

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.example
.env.template
test_server.py

# Git
.git
.gitignore

# IDE
.idea
.vscode